SUPABASE_URL=https://ojwshgpvijmbcjyiggxl.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_jESyYbVDaDejhlzkjJ4kfw_iQVvYHY7
SUPABASE_SERVICE_ROLE_KEY=
NAUT_PUBLIC_KEY=pk_live_...
NAUT_SECRET_KEY=sk_live_...
NAUT_WEBHOOK_SECRET=
NAUT_PRODUCT_ID=
